<section id="questions">
  <ol>
    <li *ngFor="let triviaQuestion of triviaQuestions" id="{{triviaQuestion.questionId}}">
      <div class="question">
        <p>{{triviaQuestion.question}}</p>
      </div>
      <div class="answers">
        <div *ngFor="let answer of triviaQuestion.allAnswers; let i = index" class="answer" [class.reveal]="revealAnswers">
            <label for="{{triviaQuestion.questionId}}-{{i}}">
                <input type="radio" name="{{triviaQuestion.questionId}}" (change)="updateSelection(triviaQuestion.questionId, triviaQuestion.allAnswers[i])" id="{{triviaQuestion.questionId}}-{{i}}"/>{{answer}}
            </label>
        </div>
      </div>
    </li>
  </ol>
  <button *ngIf="correctAnswers.size > 0" id="check-answers-button" (click)="checkAnswers()">Check Answers</button>
</section>